# Enforce language detection for Vue and Terraform
*.vue linguist-language=Vue
*.tf linguist-language=HCL

# Mark only index.py files as Python
api-handler/index.py linguist-language=Python
image-processor/index.py linguist-language=Python

# Mark dependency directories as vendored so they don't count
lambda-package/** linguist-vendored
src/functions/api-handler/boto3/** linguist-vendored
src/functions/api-handler/botocore/** linguist-vendored
src/functions/api-handler/urllib3/** linguist-vendored
src/functions/image-processor/boto3/** linguist-vendored
src/functions/image-processor/botocore/** linguist-vendored
src/functions/image-processor/urllib3/** linguist-vendored
